<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <% if current_user.facebook_picture_url? %>
        <% picture_url = current_user.facebook_picture_url %>
      <% elsif current_user.photo.url != nil %>
        <% picture_url = current_user.photo.url %>
      <% else %>
         <% picture_url = "profile.jpg" %>
      <% end %>
        <%= image_tag picture_url, class: "avatar-large"  %>
        <h1>Hello <%= current_user.first_name %> <%= current_user.last_name %></h1>

        <a href="#" class="comments" data-toggle="modal" data-target=".bs-example-modal-lg">View my comments</a>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="gridSystemModalLabel">Your reviews</h3>
              </div>
              <div class="row padded-mini">
                <div class="col-xs-8 col-xs-offset-2">
                  <% current_user.reviews.each do |review| %>
                    <%= render 'reviews/show', review: review %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="tabs">
     <div class="tab active" data-target="#offered">
        <h3><%= @missions.count %></h3>
        <p>Missions offered</p>
      </div>
      <div class="tab" data-target="#ordered">
        <h3><%= @bookings.count %></h3>
        <p>Missions ordered</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper tab-content-wrapper">
  <div class="container">
    <div id="offered" class="tab-content">
      <div class="tab-content-mission">
        <div class="product-title">
          <h2>Booked missions</h2>
        </div>
        <p class="empty text-center"><%= "No missions booked for the moment" if @missions_booked.count == 0 %></p>
        <% @missions_booked.each do |mission| %>
          <div class="product">
            <div class="show-image">
              <% mission_picture = mission.photo.url || "https://unsplash.it/200/100/?random" %>
              <%= cl_image_tag mission_picture %>
            </div>
            <div class='product-body'>
              <h3><%= mission.title %></h3>
              <p><i class="fa fa-usd" aria-hidden="true"></i> <%= mission.cost %></p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= mission.address %></p>
            </div>
            <div class='product-body desc'>
              <p><%= mission.description %></p>
            </div>
            <%= link_to "", mission_path(mission), class: "product-link" %>
          </div>
        <% end %>
        <hr>
        <div class="product-title">
          <h2> Pending missions</h2>
        </div>
        <% if @missions_pending.count == 0 %>
          <p class="empty text-center">
            No pending missions.
            <%= link_to "Create one !", new_mission_path %>
          </p>
        <% end %>
        <% @missions_pending.each do |mission| %>
          <div class="product">
            <div class="show-image">
              <% mission_picture = mission.photo.url || "https://unsplash.it/200/100/?random" %>
              <%= cl_image_tag mission_picture %>
            </div>
            <div class='product-body'>
              <h3><%= mission.title %></h3>
              <p><i class="fa fa-usd" aria-hidden="true"></i> <%= mission.cost %></p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= mission.address %></p>
            </div>
            <div class='product-body desc'>
              <p><%= mission.description %></p>
            </div>
            <%= link_to "", mission_path(mission), class: "product-link" %>
            <div class="list-inline controls">
              <%= link_to edit_mission_path(mission) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to mission_path(mission), data: {confirm: "Are you sure?"}, :method => :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="ordered" class="tab-content">
      <div class="tab-content-mission">
        <div class="product-title">
          <h2>Missions to come</h2>
        </div>
        <% if @bookings.count == 0 %>
          <p class="empty text-center">
            No ordered missions yet.
            <%= link_to "View all missions", missions_path %>
          </p>
        <% end %>
        <% @bookings.each do |booking| %>
          <div class="product">
            <div class="show-image">
              <% mission_picture = booking.mission.photo.url || "https://unsplash.it/200/100/?random" %>
              <%= cl_image_tag mission_picture %>
            </div>
            <div class='product-body'>
              <h3><%= booking.mission.title %></h3>
              <p><i class="fa fa-usd" aria-hidden="true"></i> <%= booking.mission.cost %></p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= booking.mission.address %></p>
            </div>
            <div class='product-body desc'>
              <p><%= booking.mission.description %></p>
            </div>
            <%= link_to "", mission_path(booking.mission), class: "product-link" %>
            <div class="list-inline controls">
              <%= link_to user_path(booking.mission.user) do %>
                <i class="fa fa-comments" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


