<% background_url = mission.photo.url || "https://unsplash.it/263/175/?random" %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= background_url %>);">
  <div class="card-description">
    <h3><%= mission.title %></h3>
  </div>
  <div class="card-category">
    <h6><%= mission.category %></h6>
    <p><%= mission.address %> | <%= mission.cost %> $</p>
  </div>
  <% avatar_url = mission.user.facebook_picture_url || mission.user.photo.url || "profile.png" %>
  <%= image_tag avatar_url, class: "card-user avatar" %>
  <%= link_to "", mission_path(mission), class: "card-link" %>
</div>
