<% if mission.photo? %>
  <% my_photo_url = cl_image_path mission.photo, height: 300, width: 400, crop: :fill%>
<% else %>
    <% my_photo_url = "https://unsplash.it/200/300/?random" %>
<% end %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= my_photo_url %>d);">
  <div class="card-description">
    <h3><%= mission.title %></h3>
  </div>
  <div class="card-category">
    <h6><%= mission.category %></h6>
    <p><%= mission.address %> | <%= mission.cost %> $</p>
  </div>
  <%= image_tag mission.photo, class: "card-user avatar-large" %>
  <%= link_to "", mission_path(mission), class: "card-link" %>
</div>
