<% content_for :body_class, "home" %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>No friends ?</h1>
    <p>Here you can rent your future <span class="text-brand-color">buddy</span></p>
    <%= link_to "View all missions", missions_path, class: 'btn btn-primary btn-lg', id: 'custom' %>
  </div>
</div>

<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>How does it work ?</h2>
        <p class="padded-bottom">
          If you ask yourself this question, your definitely need one ! On <span class="text-brand-color">Friend</span><span class="text-blue-color">Finder</span>, you can find new friends if you got Dollzzz.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "create.png" %>
          <h3>Create Missions</h3>
          <p>To find new friends on FriendFinder, start by creating a new mission. And wait. Be ready to get a new friend!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "select.png" %>
          <h3>Select your friend</h3>
          <p>In your dashboard, you can easily select a friend among all the candidates for your mission. Easy process to get new friends !</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "friend.png" %>
          <h3>Enjoy your friend</h3>
          <p>Congratulation, you have a new friend (for a limited time) ! Enjoy this amazing moment and discover how cool is it to have a buddy.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "dollz.png" %>
          <h3>Reward him</h3>
          <p>The mission is over, back to reality ! It’s now time to reward your ex-buddy for the time he spend with you. Sad ? create a new mission ! </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-gray padded">
  <div class="container">
    <h2 class="text-center">Last missions offered</h2>
    <% @missions.each do |mission| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="mission-card">
          <div class="reward"><%= mission.cost %>$</div>
          <% user_avatar_url = mission.user.facebook_picture_url || mission.user.photo.url || "profile.jpg" %>
          <%= image_tag user_avatar_url , class: 'card-avatar' %>
          <div class="description text-center">
            <h3 class="name"><%= mission.user.first_name %> <%= mission.user.last_name %></h3>
            <p class="mission"><%= mission.category %></p>
            <hr>
            <p class="description"><%= mission.description %></p>
          </div>
          <%= link_to "View mission",mission_path(mission), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
