<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>No friends ?</h1>
    <p>Here you can rent your future <span class="text-brand-color">buddy</span></p>
    <%= link_to "I want a friend", missions_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>How does it work ?</h2>
        <p class="padded-bottom">
          If you ask yourself this question, your definitely need one ! On <span class="text-brand-color">Friend</span><span class="text-blue-color">Finder</span>, you can find new friends if you got Dollzzz.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "create.png" %>
          <h3>Create Missions</h3>
          <p>Consequatur dolorum accusantium veritatis, sit omnis voluptatibus repudiandae minus quod dolor repellat.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "select.png" %>
          <h3>Select your friend</h3>
          <p>Consequuntur facilis aut dolore quas quisquam enim expedita sed porro, ex deleniti soluta consequatur id eos, mi    </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "dollz.png" %>
          <h3>Pay for it</h3>
          <p>Cupiditate nemo, iure expedita? Ab deserunt consequatur mollitia error veritatis sint repellendus aliquam mol     </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="list-badge">
          <%= image_tag "friend.png" %>
          <h3>Enjoy your friend</h3>
          <p>Eum ipsam excepturi corporis in facilis dicta distinctio tempora quidem praesentium architecto accusamus exped    </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-gray padded">
  <div class="container">
    <% @missions.each do |mission| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="mission-card">
          <div class="reward"><%= mission.cost %>$</div>
          <%= cl_image_tag mission.user.photo , class: 'card-avatar' %>
          <div class="description text-center">
            <h3 class="name"><%= mission.user.first_name %> <%= mission.user.last_name %></h3>
            <p class="mission"><%= mission.category %></p>
            <hr>
            <p class="description"><%= mission.description %></p>
          </div>
          <%= link_to "View mission",mission_path(mission), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
