<div class="container padded">
  <div class="row">
    <div class="col-xs-12 show-all">

      <div class="show-picture">
        <% event_url = @mission.photo.url || "https://unsplash.it/500/400/?random" %>
        <%=cl_image_tag event_url, height: 400, width: 500, crop: :fill, id: "mission-picture" %>
      </div>


      <div class="show-description">
        <h2><%= @mission.title %></h2>
        <br>
        <div class="icons">
          <p><i class="fa fa-user" aria-hidden="true"></i><%= @mission.user.first_name %> <%= @mission.user.last_name %><%= link_to "See profile", user_path(@user), class: "links_show pull-right" %></p>
          <p><i class="fa fa-tags" aria-hidden="true"></i><%= @mission.category %></p>
          <p><i class="fa fa-money" aria-hidden="true"></i><%= @mission.cost %>
          <% if current_user == @mission.user %>
            <%= link_to "Update Mission", edit_mission_path(@mission), class: "links_show pull-right" %>
          <% end %></p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= @mission.address %>
          <% if current_user == @mission.user %>
            <%= link_to "Delete Mission", mission_path(@mission), method: :delete, data: {confirm: "Are you sure?"}, class: "links_show pull-right" %>
            <% end %></p>
        </div>
          <%#= | <%= link_to "Delete Mission", mission_path(@mission), data:confirm: "Are you sure?"}, :method => :delete %>
        <hr>
        <h4>About the Mission</h4>
        <p class='about'>"<%= @mission.description %>"</p>
        <% if @mission.booking %>
          <%= 'Mission already booked :(' %><%= link_to "Back to all Missions", missions_path, class: "links_show pull-right" %>
        <% elsif @mission.user == current_user %>
          <%= link_to "Back to all Missions", missions_path, class: "links_show pull-right" %>
        <% else %>
          <%= simple_form_for [@booking] do |f| %>
            <%= f.input :mission, as: :hidden, input_html: { value: @mission.id } %>
            <br>
            <%= f.submit "Book this mission", class: "btn btn-primary" %><%= link_to "Back to all Missions", missions_path, class: "links_show pull-right" %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
