<div class="container padded">
  <div class="row">
    <div class="col-xs-12 show-all">

      <div class="show-picture">
        <%= image_tag('paris.jpg') %>
      </div>

      <div class="show-description">
        <h2><%= @mission.title %></h2>
        <h4><%= @mission.category %></h4>
        <p><%= @mission.cost %> $ | <%= @mission.city %></p>
        <hr>
        <h4>Context</h4>
        <p><%= @mission.description %></p>
      </div>

    </div>
  </div>
</div>


